<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="home"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
	<form [formGroup]="bmrForm" (ngSubmit)="calcular()">
		<ion-list>
			<ion-item>
				<ion-label>Sexo</ion-label>
				<ion-select formControlName="genero" required>
					<ion-select-option value="female">Feminino</ion-select-option>
					<ion-select-option value="male">Masculino</ion-select-option>
				</ion-select>
			</ion-item>

			<ion-item>
				<ion-input formControlName="age" required placeholder="Informe sua idade" type="number" min="0" max="120"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input formControlName="cm" required placeholder="Informe sua altura em cm" type="number" min="0" max="300"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input formControlName="kg" required placeholder="Informe seu peso kg" type="number" min="0" max="500"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Nivel de atividade fisica</ion-label>
				<ion-select formControlName="exercise" required placeholder="Escolha um">
					<ion-select-option value="1">Sedentario</ion-select-option>
					<ion-select-option value="2">1-3 vezes por semana</ion-select-option>
					<ion-select-option value="3">4 vezes por semana</ion-select-option>
					<ion-select-option value="4">5 vezes por semana</ion-select-option>
					<ion-select-option value="5">6 vezes por semana</ion-select-option>
					<ion-select-option value="6">Intenso - 5 vezes por semana</ion-select-option>
					<ion-select-option value="7"> Todos os dias</ion-select-option>
					<ion-select-option value="8">Intenso - Todos os dias</ion-select-option>
					<ion-select-option value="9">Atleta</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>Objetivo</ion-label>
				<ion-select formControlName="goal" required placeholder="Escolha seu objetivo">
					<ion-select-option value="1">Manter peso</ion-select-option>
					<ion-select-option value="2">Perder peso</ion-select-option>
					<ion-select-option value="3">Ganhar peso</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-button expand="block" type="submit">
				Realizar Calculo
			</ion-button>
		</ion-list>
	</form>
</ion-content>