
<ion-app>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>
          <h1 class="ion-text-center">MacroCalc</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="warning" expand="block" routerLink="/calcular">
          Calcular Macronutrientes
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="warning" expand="block" routerLink="/historico">
          Histórico
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-app>

