<body>
<ion-app>
  <ion-content fullscreen class="background-image" >
    <div style="margin-top: 50%;">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text>
              <h1 class="ion-text-center">
                MacroCalc  
              </h1>

            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="warning" expand="block" routerLink="/calcular">
              Calcular Macronutrientes
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="warning" expand="block" routerLink="/historico">
              Histórico
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
</ion-app>
</body>
