ion-content {
    --background: url('/assets/img/tela_final.png') no-repeat center/cover fixed; 

}


h1 {
	font-family: Sansita Swashed;
	color: #ffc409;
	font-size: 50px;
	text-shadow: 1px 1px 5px #000;

}

ion-button{
	font-size: 14px;
	font-weight: 600;

}

@font-face {
	font-family: Sansita Swashed;
	src: url('/assets/fonts/SansitaSwashed-VariableFont_wght.ttf');
}